* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background: #012c64;
  color: #fefefe;
}

a {
  text-decoration: none;
}

p  {
  font-size: 1.8rem;
  font-weight: 300;
}

img {
  width: 300px;
  height: 400px;
}
