.bg-dark {
  background: #1C3144;
}

.text-light {
  color: $light;
}

.p-20 {
  padding: 20px;
}

.scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; // smooth scrolling on mobile
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.hidden {
  display: none;
}