<header>
    <nav class="header">
        <a class="header__nav" href="#profile">Profil</a>
        <a class="header__nav" href="#links">Links</a>
        <a class="header__nav" href="#timeline">Lebenslauf</a>
        <a class="header__nav" href="#impressum">Impressum</a>
    </nav>
</header>
