<header>
  <div class="burger-menu">
    <div class="bar top half"></div>
    <div class="bar"></div>
    <div class="bar bottom half"></div>
  </div>
  <nav class="nav">
    <ul class="nav__list">
      <li>
        <a href="#home" class="nav__list-link">Home</a>
      </li>
      <li>
        <a href="#profile" class="nav__list-link">Über Mich</a>
      </li>
      <li>
        <a href="#skills" class="nav__list-link">Skills</a>
      </li>
      <li>
        <a href="#timeline" class="nav__list-link">Lebenslauf</a>
      </li>
      <li>
        <a href="#socialMedia" class="nav__list-link">Social Media</a>
      </li>
      <li>
        <a href="#contact" class="nav__list-link">Contact</a>
      </li>
    </ul>
  </nav>
</header>
