<section class="scoll bg-dark text-light p-20">
  <div class="home mr-30">Moin Moin!</div>
  <div class="home shadow-2 mr-30">
    ich bin 
  </div>
  <div class="home shadow-1 mr-30">
  	René Sahmkow
  </div>
  <div class="">
    Web Developer! <br>aktuell bei neuefische GmbH.
  </div>
</section>