<section class="home scoll bg-dark text-light p-20">
  <div class="home__intro">
      <p class = "home__text">Moin Moin!<br>
    ich bin<br>
    <span class="shadow__1">René Sahmkow</span>
      </p>
  </div>

  <div class="home__text">
    Web Developer! <br>aktuell bei neuefische GmbH.
  </div>
</section>