<div class="bg-dark text-light p-20">
    <h3>Lebenslauf</h3>
    <div class="timeline">
        <div class="container left">
            <div class="scroll content">
                <h2>2009</h2>
                <p>Abschluss Realschule</p>
            </div>
        </div>
        <div class="container right">
            <div class="scroll content">
                <h2>2009</h2>
                <h5>Europart Trading GmbH</h5>
                <p>Ausbildung zum Groß- und Außenhandelskaufmann.   </p>
            </div>
        </div>
        <div class="container left">
            <div class="scroll content">
                <h2>2011</h2>
                <h5>Friedrich Kraft GmbH</h5>
                <p>Mitarbeiter im Vertirieb, Kundenbetreunung, Einkauf, Gruppenleitung.</p>
            </div>
        </div>
        <div class="container right">
                <div class="scroll content">
                    <h2>20012</h2>
                    <h5>ILS</h5>
                    <p>Fernstudium neben dem Job zum staat. geprüften Betriebswirt. Fachrichtung : Absatzwirtschaft/Marketing</p>
                </div>
            </div>
        <div class="scroll container left">
            <div class="content">
                <h2>2019</h2>
                <h5>neueFische GmbH</h5>
                <p>Beginn des Bootcamos bei neuefische GmbH zum Web-Developer.
                </p>
            </div>
        </div>
    </div>
</div>