<section class="bg-dark links">
    <figure>
            <a href="https://gitlab.com/renesahmkow" target="_blank">
                <img
                src="https://via.placeholder.com/300x300"
                alt="palceholder">	
            </a>
            <figcaption>Gitlab</figcaption>
    </figure>
    <figure>
            <a href="https://github.com/renesahmkow" target="_blank">
                <img
                src="/public/images/1200px-Octicons-mark-github.svg.png"
                alt="placeholer">
            </a>	
            <figcaption>Github</figcaption>
    </figure>
    <figure>
        <a href="https://www.neuefische.de/" targe="_blank">
            <img
            src="https://via.placeholder.com/300x300"
            alt="placeholder">	
            <figcaption>neuefische</figca
        </a>ption>
    </figure>
</section>