<section id="links" class="bg-dark links">
    <figure>
            <a href="https://gitlab.com/renesahmkow" target="_blank">
                <img
                src="https://via.placeholder.com/300x300"
                alt="gitlab">	
            </a>
            <figcaption>Gitlab</figcaption>
    </figure>
    <figure>
            <a href="https://github.com/renesahmkow" target="_blank">
                <img
                src="https://via.placeholder.com/300x300"
                alt="github">
            </a>	
            <figcaption>Github</figcaption>
    </figure>
    <figure>
        <a href="https://www.neuefische.de/" targe="_blank">
            <img
            src="https://via.placeholder.com/300x300"
            alt="placeholder">	
            <figcaption>neuefische</figcaption>
        </a>
    </figure>
</section>