<section id="profile" class="profile">
  <h1>Über mich</h1>

  <div class="profile__container">
    <div class="profile__img">
      <img src="/images/profile_img.png" alt="profilbild" />
    </div>

    <div class="profile__content">
      <div class="profile__content-data">
        <h5>Steckbrief</h5>
      </div>
      <ul>
        <li>Name: <span>René Sahmkow</span></li>
        <li>Geboren: <span>28.01.1991</span></li>
        <li>Alter: <span>28</span></li>
        <li>Wohnort: <span>Lübeck</span></li>
        <li>
          Hobbys: <span>Fußball, Schwimmen, Freunde treffen, Sport </span>
        </li>
        <li></li>
      </ul>
    </div>
    <div class="profile__content-about">
      <p>
        Hallo, ich bin René! Ich wohne in Lübeck jedoch pendel ich seit dem
        07.01.2019 für die nächsten 3 Monate jeden Tag nach Hamburg um das Web
        Developer Bootcamp bei den neuenfischen zu absolvieren. Wie ich dazu
        kam? ich habe nach Realschule eine Asubikdung zum Groß- und
        Außenhandelskauffmann gemacht. Ich hatte damals keine Lust mehr nur zur
        Schule zu gehen und wollte mein eigenes Geld verdinen.
      </p>
    </div>
  </div>
</section>
