<section  class="bg-dark text-light p-20">
    <div class="profile__header mb-30">
            <div class="shadow-small profile__pic"></div>
            <table>
                <tr>
                    <td>René Sahmkow</td>
                </tr>
                <tr>
                    <td>Giselherweg 2</td>
                </tr>
                <tr>
                    <td>23562 Lübeck</td>
                </tr>
            </table>
        </div>
        <div class="mb-30">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi qui exercitationem eius dicta excepturi omnis ad aliquid? Totam deserunt molestiae laudantium? Dolorum provident incidunt asperiores molestiae architecto harum natus ipsum!</p>
      
        </div>

        <div>
            <h3>Skills</h3>
            <ul class="profile__tags">
                <li class="profile__tags--extra">HTML</li>
                <li>CSS</li>
                <li class="profile__tags--extra">Java Skript</li>
                <li class="profile__tags--extra">React.js</li>
            </ul>

            <ul class="profile__tags">
                    <li class="profile__tags--extra">Zuverlässig</li>
                    <li>Teamorientiert</li>
                    <li class="profile__tags--extra">Hilfsbereit</li>
                </ul>

            
        </div>

</section>