<div>
    <h3>Skills</h3>
    <ul class="profile__tags">
      <li class="">HTML</li>
      <li>CSS</li>
      <li class="">Java Skript</li>
      <li class="">React.js</li>
      <li>Resonsive Website</li>
      <li>UX & Design</li>
      <li>Scrum</li>
      <li>Kanban</li>
      <li>Pair Programming</li>
    </ul>

    <h3>Personal Skills</h3>
    <ul class="profile__tags">
      <li class="">Zuverlässig</li>
      <li>Teamorientiert</li>
      <li class="">Hilfsbereit</li>
    </ul>
  </div>
</section>