<section class="grid-skills">
  <img class="icon-top-left" src="/images/images.png" alt="html" />
  <img class="icon-top-right" src="/images/css.jpg" alt="html" />
  <div class="icon-bot-left">JAVA SCRIPT</div>
  <div class="icon-bot-right">REACT.JS</div>
</section>
