.home {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px; 
    text-transform: uppercase;
}

.home-1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px; 
    text-transform: uppercase;
}