.profile {
  width: 100%;
  height: 200vh;

  & h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 80px;
    font-weight: 500;
    opacity: 0.6;
    margin: 20px 0 60px;
  }
}

.profile__container {
  width: 100vw;
  display: grid;
  grid-template-columns: 40vw auto;
  grid-template-rows: 2;
}

.profile__content-data {
  padding: 20px;
  font-size: 20px;
  line-height: 30px;
}

.profile__content-about {
  grid-column-start: 2;
  grid-column-end: 2;
}
